# Simulator: http://127.0.0.1:8001
# Máy thật / cùng WiFi LAN: http://<IP-máy-dev>:8001 (không dùng 127.0.0.1)
# Production build: https://api.fecox3.com
EXPO_PUBLIC_API_BASE_URL=http://127.0.0.1:8001
